* { padding: 0; margin: 0; text-decoration: 'none'; list-style: 'none'; }
.app {  display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #e8e9f0; }
.app__container { overflow: hidden; display: flex; flex-direction: column; width: 450px; min-height: 600px; background-color: white; border: 1px solid #c1c1c1; border-radius: 1.5%; font-size: 0.9rem; }
.app__content { margin: 20px; }

.header { display: flex; flex-direction: column; justify-content: center; height: 120px; text-align: center; background-color: #20232a; }
.header__title { color: #61dafb; }
.header__subTitle { color: #ffffff; }

.todoInfo { padding: 0 20px; margin-bottom: 10px; }
.todoInfo__progress { padding: 20px; height: 30px; background-color: #d8ecf8; border-radius: 4%; text-align: center; }
.todoInfo__text { margin-top: 10px; }

.todoInsert { padding: 20px; }
.todoInsert__input, .todoInsert__button { width: 100%; }

.todoList { display: flex; justify-content: space-between; align-items: center; height: 60px; border-bottom: 1px solid #9b9b9b; border-radius: 3%; }
.todoList__checkbox { flex: 1; display: flex; align-items: center; height: 100%; cursor: pointer; }
.todoList__checkboxTrue { color: #9b9b9b; text-decoration: line-through;}
.todoList__text { flex: 1; margin-left: 10px; white-space: normal; }
.todoList__buttons { cursor: pointer; }