* {
    margin: 0;
}

.app {
    background-color: #e8e9f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__container {
    /* background-image: url("./images/bg3.png");
    background-position: center;
    background-size: cover; */
    background-color: white;
    width: 450px;
    min-height: 600px;
    border-radius: 1.5%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #c1c1c1;
    font-size: 0.9rem;
}

.app__title {
    background-color: #20232a;
    height: 120px;
    color: #61dafb;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app__list {
    margin: 20px;
}
