.todoList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    margin-bottom: 20px;
    padding: 5px 5px;
    background-color: white;
    border-radius: 3%;
    color: #20232a;
    border-bottom: 1px solid #9b9b9b;
}

.todoList__check {
    flex: 1;
    display: flex;
    align-items: center;
}

.todoList__check-true {
    color: #9b9b9b;
    text-decoration: line-through;
}

.todoList__input {
    flex: 1;
}

.todoList__text {
    white-space: normal;
    flex: 1;
    margin-left: 10px;
}
