.todoInfo {
    padding: 0 20px;
}

.todoInfo__progress {
    background-color: #d8ecf8;
    height: 30px;
    padding: 20px;
    border-radius: 4%;
    text-align: center;
}

.todoInfo__text {
    margin-top: 10px;
}
